.box{
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
.button{
    width: 140px;
    height: 50px;
    font-size: 22px;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    background-color: #6262f8;
    font-family: 'Varela Round', sans-serif;
}
.button:disabled{
    background-color: #8787de;
}

.button:hover{
    opacity: 0.8;
    transition-duration: 0.4s;
}
.pagination{
    width: 350px;
    display: flex;
    justify-content: space-evenly;
}