.flex{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #6262f8;
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    list-style-type: none;
}
.link{
    margin-left: 80px;
    margin-right: 80px;
    text-decoration: none;
    font-size: 34px;
    color: #fff;
}
.link:hover{
    font-size: 35px;
    color: #dad9d9;
    transition-duration: 0.3s;
}